@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Open+Sans&family=Sacramento&display=swap');

* {
  box-sizing: border-box;
  background-color: #B1B1B1;
}

body {
  font-family: 'Muli', sans-serif;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
a {
  display: block;
  width: 100px;
  height: 100px;
  border: 5px solid #B1B1B1;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  align-items: center;
  color: #747474;
  font-size: 20px;
  position: absolute;
  top: 120px;
  left: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding-top: 20px;
  

  
  
}

.container {
  display: flex;
  width: 90vw;
  
}
.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
  font-family: 'Sacramento', cursive;
  background-size: cover;
}

.panel h3 {
  font-size: 45px;
  position: absolute;
  top: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
  color: #747474;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  padding: 10px;
  width: 250px;
}

.panel a{
  opacity: 0;
}

.panel.active {
  flex: 5;
  transition: opacity 2s ease-in 0.4s;
  cursor: default;
}

.panel.active h3 {
  opacity: 1;
}
.panel.active a {
  opacity: 1;
}


@media (max-width: 580px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4), .panel:nth-of-type(5) {
    display:none;
  }
}
